<section id="workout-list">

<h1>Workout List</h1>

<% @workouts.each do |workout| %>
  <li data-toggle="collapse" data-target="#collapse-<%=workout['workout']['workout_id']%>">
    <%=workout['workout']['workout_name']%>

    <% if workout['workout']['scoring_description'] %>
      (<%=workout['workout']['scoring_description']%>)
    <% end %>

    <% if workout['workout']['scoring_unit'] %>
      (<%=workout['workout']['scoring_unit']%>)
    <% end %>
  </li>

  <div class="collapse" id="collapse-<%=workout['workout']['workout_id']%>">
    <% workout['exercises'].each do |exercise| %>
      <li>
        <%=exercise['rx_reps']%>
        <%=exercise['exercise_name']%>
        <% if exercise['rx_multiplier'] %>
          @ <%=exercise['rx_multiplier']%>
          <%=exercise['exercise_unit']%>
        <% end %>
      </li>
    <% end %>
  </div>

<% end %>

<%#
<form action="/workouts" method="post">
  <textarea name="workout" data-replace="create">
    {
      "workout_name":"NewWOD",
      "scoring_description":"Do things, count reps",
      "scoring_unit":"seconds",
      "workout_exercises":
      [
        {"exercise_id":"1","rx_reps":"210"},
        {"exercise_id":"3","rx_reps":"211"},
        {"exercise_id":"5","rx_reps":"212", "rx_multiplier":"8"}
      ]
    }
  </textarea>
  <input type="submit" value="Add new workout">
</form>

<h1>Record</h1>

<form action="/records" method="post">
  <textarea name="record" data-replace="record">
    {
      "workout_id":"3",
      "workout_score":"111",
      "workout_datetime":"00000000"
      "workout_exercise_results":
      [
        {"exercise_id":"1","actual_reps":"2"},
        {"exercise_id":"3","actual_reps":"3"},
        {"exercise_id":"5","actual_reps":"4", "actual_multiplier":"4"}
      ]
    }
  </textarea>
  <input type="submit" value="Save workout">
</form>
%>

</section>
