<section id="exercises">

<ul>
<% @exercises.each do |exercise| %>
  <li><%=exercise['exercise']['exercise_name']%> 
  <% if exercise['exercise']['exercise_unit'] %>
  (<%=exercise['exercise']['exercise_unit']%>)
  <% end %>
  </li>
  <ul>
    <% exercise['workouts'].each do |workout| %>
      <li>
        <%=workout['workout_name']%> - <%=workout['rx_reps'] %>
        <% if workout['rx_multiplier'] %>
          @ <%=workout['rx_multiplier']%>
          <%=workout['exercise_unit']%>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</ul>

<form action="/exercises" method="post">
  <input name="exercise_name" type="text">
  <input type="exercise_unit" type="text">
  <input type="submit">
</form>

</section>
